<html>
            <head>
                <title>API docs</title>
            </head>
            <style>
                body {
                    margin: 20px;
                }
                blockquote {
                    border: 1px solid black;
                    padding: 10px;
                    width: 400px;
                    color: forestgreen;
                    font-family: monospace;
                }
            </style>
            <body>
                <h1>API Docs</h1>
                <p>API documentation for the XMage API.</p>
                <p>All calls are made using the GET-method. Responses are formatted using JSON.</p>
                <h3>Variables</h3>
                <blockquote>http://api.xleague.info/variables</blockquote>
                <p>Shows various variables used by the application.</p>
                <h3>Players</h3>
                <blockquote>http://api.xleague.info/players</blockquote>
                <p>Player database</p>
                <blockquote>http://api.xleague.info/player/&lt;Name&gt;</blockquote>
                <p>Info about individual player</p>
                <h3>Games</h3>
                <blockquote>http://api.xleague.info/games</blockquote>
                <p>Games database</p>
                <blockquote>http://api.xleague.info/game/&lt;ID&gt;</blockquote>
                <p>Info about individual game</p>
                <h3>Vouch requests</h3> 
                <blockquote>http://api.xleague.info/requests</blockquote>
                <p>Pending vouch requests</p>               
            </body>
</html>